.card{
    padding: 10px !important;
    min-width: 30vw;
    width: 450px;
    margin: 1vw;
    margin: none;
    

}
 #IngredientsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#IngredientsList{
    flex-direction: row;

}
.modal-body label{
    min-width: 60px;
    margin: auto;
    width: calc((100% - 30px)/3);
    min-width: 150px;
    height: 3em;
}
input[type="checkbox"]{
    margin: 2px;
}

#bottom{
    display: inline-block !important;

}


