
        footer{
            text-align: center !important;
            margin-top: auto !important;
            background-color: rgba(0, 0, 0,0.7) !important;
            color: white !important;
            height: 10vh;
            padding: auto !important;

        }
        body{
            min-height: 100vh !important;
            display: flex !important;
            flex-direction: column !important;
        }
        .navbar-custom{
            background-color: rgba(0, 0, 0,0.7) !important;
            color: white !important;

        }
        .navbar-custom .navbar-brand
         {
            color: white !important;
        }
        
        .navbar-custom .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  
        }
        .navbar-custom .navbar-toggler{
            border: none;
        }
        .btn{
            color: antiquewhite;
            background-color: rgba(0,0,0,0.7) !important;
        }
        .btn:hover{
            border: 1px solid rgba(0, 0, 0,0.7) !important;
            color: antiquewhite !important;
            background-color: rgba(0,0,0,0.9) !important;
        }
        body{
            
            background-size: cover;
            backdrop-filter: blur(3px);
            z-index: 0;
        }
        .card{
            background-color: rgba(0,0,0,0.5); 
            border-radius: 10px;  
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
            position: relative;
            z-index: 1;  
            color: rgb(209, 202, 193);
        
        }
        