.login-signup{
    min-height: 70vh;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    width: 80vw;
    max-width: 500px;
    position: relative;
    }

    /* Better button styling and alignment */
    button {
        margin-top: 50px;
        width: 100%;
        display: block;
    }

    p {
        display: block;
        margin-top: 20px;
    }

h3{
    text-align: center;
    margin-bottom: 50px;
}
body{
    background-image: url("/images/honeyhome.jpg") !important;
    background-size: cover;
    backdrop-filter: blur(3px);
    z-index: 0;
}
.card{
    background-color: rgba(0,0,0,0.5); /* Light background with some transparency */
    border-radius: 10px;  /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: adds shadow for better visibility */
    position: relative;
    z-index: 1;  /* Ensure card is on top of other content */
    color: rgb(209, 202, 193);

}