<link rel="stylesheet" href="css/Recipe.css">
<div class="recipe">
    <h3 id="title">Recipe name</h3>
    <h5 id="prep-time">Prep time</h5><h5 id="cook-time">Cook Time</h5><h5 id="servings">Servings</h5>
    <h4 class="Ingredients">Ingredients:</h4>
    <ul>
        <li class="Ingredients">Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
        <li>Ingredient</li>
    </ul>
    <h4>Directions</h4>
    <ul>
        
        <li>
            <h5>Step 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate optio quod porro amet? Dolor debitis maiores, quos corrupti quae alias officiis nesciunt pariatur consectetur voluptatibus officia expedita blanditiis temporibus accusamus?</p>
        </li>
        <li>
            <h5>Step 2</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit temporibus quasi quaerat exercitationem nemo dicta voluptatibus, nihil, totam veniam sequi, sit quidem cum doloremque dignissimos dolorum minus in facilis similique.</p>
        </li>
    </ul>
    <br>
    <h4>And done! Enjoy your meal!</h4>
    <br><br><br>
    <form>
        <label>Want to add any notes?</label><br>
        <textarea width="70vw" cols="10"></textarea>
    </form>
    <br><br><br>
</div>