@{
    Layout = "";
}

<form>
    <div class="login-signup">
        <label>Email</label>
        <input type = "email">
        <label>Password</label>
        <input type="password">
    </div>

    
</form>