
<link rel="stylesheet" href = "/css/HomeStyle.css">
@{ViewData["Title"] = "Home";}

<div class="intro"><h1>Hungry but don't want to order takeout? <br>We've got you!</h1></div>
<div class="generate">
    <button class="btn " onclick="location.href='@Url.Action("Generate","Generate")'">Generate</button>
    </div>
