@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign In";
}
@model WhatsForDinner.ViewModels.Login

 <link rel="stylesheet" href="/css/login.css">



<form method="post" asp-action="Login">
    <div class="login-signup">
        <h3>Sign in</h3>
        <label class="form-label">Email</label>
        <input type = "email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email"></span>
        <label class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password"></span>

        <button class="btn" id="login">Sign in</button>
        <p>Don't have an account yet? <a asp-controller="Account" asp-action="SignUp">Sign up</a></p>
        <input type="hidden" asp-for="returnUrl" />

        
    </div>
    

    
</form>
<br><br>