@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign Up";

}
@model WhatsForDinner.ViewModels.SignUp

 <link rel="stylesheet" href="/css/login.css">



<form method="post" asp-action="SignUp">
    <div class="login-signup">
        <h3>Sign up</h3>

        <label class="form-label">Email</label>
        <input type = "email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email"></span>

        <label class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password"></span>

        <label class="form-label"> Confirm password</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword">
        <span asp-validation-for="Password"></span>

        <button class="btn" id="login">Sign Up</button>
        <p>Already have an account?<a asp-controller="Account" asp-action="Login">Sign in</a></p>
        <input type="hidden" asp-for="returnUrl">


        
    </div>
    

    
</form>
<br><br><br>