@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign Up";

}
@model WhatsForDinner.ViewModels.SignUp

 <link rel="stylesheet" href="/css/login.css">



<form method="post" asp-action="SignUp">
    <div class="login-signup">
        <h3>Sign up</h3>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }

        <label class="form-label">Email</label>
        <input type = "email" class="form-control" asp-for="Email">

        <label class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">

        <label class="form-label"> Confirm password</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword">

        <button class="btn" id="login">Sign Up</button>
        <p>Already have an account?<a asp-controller="Account" asp-action="Login">Sign in</a></p>


        
    </div>
    

    
</form>
<br><br><br>