
        footer{
            text-align: center !important;
            margin-top: auto !important;
            background-color: rgba(0, 0, 0,0.7) !important;
            color: white !important;
            height: 10vh;
            padding: auto !important;

        }
        body{
            min-height: 100vh !important;
            display: flex !important;
            flex-direction: column !important;
        }
        .navbar-custom{
            background-color: rgba(0, 0, 0,0.7) !important;
            color: white !important;

        }
        .navbar-custom .navbar-brand
         {
            color: white !important;
        }
        
        .navbar-custom .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  
        }
        .navbar-custom .navbar-toggler{
            border: none;
        }

        