@using WhatsForDinner.Models
@using Microsoft.JSInterop
@model List<Ingredient>
@inject IJSRuntime JSRuntime
<link rel="stylesheet" href="/css/IngredientStyle.css">

@{ViewData["Title"] = "My Pantry";}


@{var ingredientGroups = Model.GroupBy(ing => ing.Category.Name);}

<form id="IngredientsList" >
    @foreach(var group in ingredientGroups){
        <div class ="card" id="@group.Key">
            <h3 class="card-header">@group.Key</h3>
            <div class="card-body">
                @foreach(Ingredient ing in group){
                    
                    <label  ><input class="form-check-input" type="checkbox" >@ing.Name</label>
                }
            </div>
            <div id="bottom">
                <button class="btn">Add an item</button>
                <button type="submit" class="btn">Save</button>
            </div>
                

        </div>
        
    }


</form>

@**{
    
    async void  AddIngredients(string name, string category){
        await JSRuntime.InvokeVoidAsync("AddIngredients", name, category); 
    }
}**@


