
@{ViewData["Title"] = "Generate Recipes";}

<link rel="stylesheet" href="css/Recipe.css">
<div class="recipe card">
    
    <div class="card-body">
        <h3 class="card-title title">Recipe name</h3>
        <h6 class="card-subtitle title text-muted">Recipe type</h6>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nostrum necessitatibus veritatis ullam obcaecati quos corporis a eaque voluptatem, consequatur est. Illo architecto necessitatibus possimus perferendis deleniti reiciendis fuga nesciunt.</p>
        <h5 id="prep-time">Prep time: 10 min </h5><h5 id="cook-time"> Cook Time: 10 min</h5><h5 id="servings"> Servings: 4</h5>
        <br><br>
        <h4 class="Ingredients">Ingredients:</h4>
        <ul>
            <li class="Ingredients">Ingredient</li>
            <li>Ingredient</li>
            <li>Ingredient</li>
            <li>Ingredient</li>
        </ul>

        
        <button class="btn">Make it!</button>
        <button class="btn">Save for later</button> 
    </div>
    
</div>